img/
local/
node_modules/
templates/Koha/Plugin/

archive
package-lock.json
*.kpz
p-kpz
kpt
TO-DO.md
script.log
.prettier.cache.json
.perltidy.cache.json

.DS_Store
.vscode/
.idea/
*.po~

# Ignore .d.ts and .map files in the "dist" directory
Koha/Plugin/Com/LMSCloud/RoomReservations/dist/**/*.d.ts
Koha/Plugin/Com/LMSCloud/RoomReservations/dist/**/*.d.ts.map
